body {
    padding-top: 90px;
    color:saddlebrown;
    background-color: antiquewhite;
}

a:visited {
    color:saddlebrown;
}
a:link {
    color:darkgoldenrod;
}
a:hover {
    color:brown;
}
.btn-custom {
    color:saddlebrown;
    background-color: antiquewhite;
}
nav a:visited {
    color:beige;
}
nav a:link {
    color:aliceblue;
}
nav a:hover {
    color:saddlebrown;
}

.navbar-inverse{
    color: wheat;
    background-color: saddlebrown;
}
.navbar-inverse .navbar-nav > li > a {
    color: wheat;
    background-color: saddlebrown;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: saddlebrown;
    background-color: wheat;
}

.navbar-inverse .navbar-brand {
    color: wheat;
    background-color: saddlebrown;
    padding:6px;
}


.tbl-group-head {
    background-color: wheat;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color:saddlebrown;
    background-color: wheat;
}

.nav-tabs > li > a {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ddd;
}