html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}


main {
  background: #ffffff;
  min-height: 80vh;
}

.controls {
  text-align: center;
  padding: 10px;
  background: white;
}

video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

footer {
  background: white;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}

#canvas{
    display: none;
}

#imagetext{
  display: none;
}


/* css to customize Leaflet default styles  */
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #aaa4a4;
    color: #ffffff;
    
}

.fa.fa-camera.fa-4x,.fa.fa-trash.fa-3x,.fa.fa-arrow-circle-down.fa-3x
{
 color: white;
 background-color:saddlebrown;
 border-radius: 50%;
 border: 1x solid wheat;
 padding:10px;
}

.visible {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

